# ASSIGNMENT

  1. Define each data type, and give an example.

### Integer

These are whole numbers either positive or negative

*Examples*

* 1
* -200

### Float

These are numbers in decimals, either positive or negative

*Example*

* 3.5
* -80.7

### Strings

These are combination of values and characters either alphabetical or numerical , this is easier indicated by wrapping in a quote either single or double qoute 

*Examples*

* 'man'
* 'goat12'

  2. What data type is each value? Use the type function to verify.

*a. 3   b. 4.5    c. 6.0
   d. "hello" e.   "3.14159"    f. math.pi*

In [8]:
type(3)

int

In [9]:
type(4.5)

float

In [10]:
type (6.0)

float

In [11]:
type("hello")

str

In [12]:
type("3.14159")

str

In [14]:
type('math.pi')

str

  3. Use the type function to identify the data type of each result. Are there any that do not work?

In [15]:
3+7

10

In [16]:
result = 10

In [17]:
type (result)

int

In [18]:
5+6.0

11.0

In [19]:
result = 11.0

In [20]:
type(11.0)

float

In [21]:
6/3.0

2.0

In [22]:
result = 2.0

In [23]:
type(result)

float

In [24]:
6.0//3.0

2.0

In [25]:
result = 2.0

In [26]:
type(result)

float

In [27]:
"Py"+"thon"

'Python'

In [28]:
result = 'Python'

In [29]:
type(result)

str

  4. Which variable names are acceptable, explain why.

num - Acceptable , because variables is made up of letters and digits

AGE - Acceptable , because variables is made up of letters and digits

FiRsTnAmE - Acceptable , because variables is made up of letters or digits , either upper or lower case

_count - Acceptable , because variables is made up of letters , digits and underscore it is spaced by an underscore

2nd_card - not acceptable , because variables can not start with a digit , either upper or lower case

card_2 - Acceptable , because variables is made up of letters or digits it is spaced by an underscore

card 2 - not acceptable because a variable can not have a space in between

lambda - not acceptable because this is a reversed keyword in python

  5. Choose a meaningful variable name to represent each scenario.

player_dealt_cards

monthly_salary

dice_value

summer_temperature

  6. Assign the values x="house", y="boat" and z="ha". What is the result of each statement? Which
do not work, and why?

In [30]:
"High"+5

TypeError: can only concatenate str (not "int") to str

In [33]:
x = 'house'

In [34]:
y = 'boat'

In [35]:
z ='ha'

In [36]:
x+y

'houseboat'

In [37]:
y+x

'boathouse'

In [38]:
z*3

'hahaha'

In [39]:
z*x

TypeError: can't multiply sequence by non-int of type 'str'

*z * x did not work because strings can not be multuplied by another strings*

In [40]:
x+2

TypeError: can only concatenate str (not "int") to str

*x + 2 did not work because strings can not be added to an integer*

In [42]:
y+"2"

'boat2'

  7. Assign the values base=10 and height=5. Calculate the area of a triangle using the formula At=1/2 (b)(h) , and assign the value to the variable area. Echo this value.

In [80]:
base = 10

In [81]:
height = 5

In [84]:
area = 1/2 * base * height

In [85]:
area

25.0

  8. Execute the following sequence of commands in the shell, then state the final value of k.

In [66]:
k = 7

In [67]:
k

7

In [68]:
k += 3

In [69]:
k

10

In [70]:
k *= 2

In [71]:
k

20

In [72]:
k -= 5

In [73]:
k

15

In [74]:
k //= 6

In [75]:
k

2

  9. Explain why the following run-time error occurs.

In [ ]:
number = 8

In [86]:
Number += 1

NameError: name 'Number' is not defined

This gives error beacause use python is case sensitive , and doesn't recognise "number" & "Number" as the same due to the initial capital letter

  10. Python is a dynamically-typed language: a variableâ€™s data type can change as necessary. Assign the value x=4, then use check its type using the type function. What data type is it? Increment x by 1, using the += operator, then check its type again. Did it change? If so, what data type is it? Increment x by 1.0, then check its type. Did it change? If so, what data type is it?

In [53]:
x = 4

In [54]:
type(x)

int

In [55]:
x +=1

In [56]:
type(x)

int

*it's still an integer*

In [57]:
x *=1.0

In [58]:
x

5.0

In [59]:
type(x)

float

*yes it has changed due to the decimal introduced, it is now a float*